*University*
*Rubbish*
*Exams*

**/*Semester*/*.pdf

**/2nd Semester (2020)/Self_Created_Work
**/3rd Semester (2021)/Resources
**/4th Semester (2021)/Treasure
**/4th Semester (2021)/welcome to 4th sem (Replied).txt
**/6th Semester (2022)/Slides by EG